*{
    box-sizing: border-box;
    margin: 0;
}
body{
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
}
img{
    border-radius: 25px;
    height: 50px;
    width:50px;
    float: left;
    display: inline-block;
    margin-left:  0;
    padding-left: 0;
    padding-right: 5px;
}

.box{
position: absolute;
    top: 50%;
    left: 50%;
    margin: auto;
    transform: translate(-50%,-50%);
    background-color: white;
    width: 350px;
    
    
    
}
.tweet{
    padding-top: 10px;
    padding-left: 10px;
  
}
.user1{
  padding-bottom: 10px;
  padding-top: 5px;
  padding-left: 10px;

}
.tag {
    opacity: 0.5;
}
.twittertag{
    color: teal;
}

.info{
    display: inline-flex;
    list-style-type: none;
    font-size: small;
    font-weight: lighter;
    opacity:0.5;
    padding-bottom: 2px;
    
}
.info li{
    padding: 5px 20px;
    
}
.engagements{
    display: inline-flex;
    padding: 10px 20px;
    list-style-type: none;
    width: 100%;
    border: 0.01em ;
    border-style:solid;
    border-left: 0;
    border-right: 0;
    font-size: small;


}
.engageno{
    font-weight: bolder;
}
.engagements li{
    padding-right: 5px;
}
.user2{
    padding:20px 10px ;
}